.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    border-top: 2px solid red;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-block: 0.5rem;
}

.footer h2{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}